/* Button Default */
.tcl-btn {
  height: 50px;
  min-width: 170px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.tcl-btn:hover {
  color: #333;
  background-color: #fff;
}

/* Button with background white */
.tcl-btn--white {
  color: #333;
  background-color: #fff;
  box-shadow: 2px 2px 30px 2px rgb(2 5 24 / 50%);
}
.tcl-btn--white:hover {
  color: #fff;
  background-color: #242832;
}