.header {
  position: relative;
  background-color: #242832;
  min-height: 100vh;
  padding-top: 90px;
}
.header-logo {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  background-color: #3b4259;
  box-shadow: 0 0 13px 0 rgb(2, 5, 24, 0.77);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  width: 150px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 5px;
  margin: 0 auto;
}

.header-title {
  font-size: 66px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-top: 50px;
  line-height: 1.3;
  font-family: 'Montserrat', sans-serif;
}

.header-description {
  color: #d9dfeb;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  margin-top: 10px;
}

.header-group-btn {
  text-align: center;
  margin-top: 30px;
}

.header-group-btn .tcl-btn {
  margin-left: 15px;
  margin-right: 15px;
}

.header-showcase {
  margin-top: 50px;
}
.header-showcase img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.header-banner {
  position: absolute;
}
.header-banner-1 {
  width: 26%;
  top: 64%;
  left: 2%;
}
.header-banner-2 {
  width: 14%;
  top: 43%;
  left: 1.5%;
}
.header-banner-3 {
  width: 20%;
  top: 33%;
  left: 12%;
}
.header-banner-4 {
  right: 10%;
  top: 63%;
  width: 21%;
}
.header-banner-5 {
  top: 43%;
  width: 18%;
  right: 15%;
  z-index: 1;
}
.header-banner-6 {
  top: 33%;
  right: 0;
  width: 21%;
}
.header-banner-7 {
  top: 59%;
  right: -3%;
  width: 11%;
}

@media only screen and (max-width: 1440px) {
  .header {
    padding-top: 50px;
  }

  .header-title {
    margin-top: 20px;
    font-size: 50px;
  }

  .header-description {
    font-size: 16px;
    margin-top: 5px;
  }

  .header-group-btn {
    margin-top: 15px;
  }

  .header-showcase {
    margin-top: 30px;
  }

  .header-showcase img {
    max-width: 580px;
  }
}