.icon-block {
  font-size: 16px;
  display: block;
  padding: 0 35px;
  font-family: 'Poppins', sans-serif;
}
.icon-block__icon-wrap {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 110px;
  box-shadow: 0 11px 29px 0 rgba(0,0,0,0.08);
}
.icon-block__icon {
  font-size: 30px;
  color: #d0d0d2;
}
.icon-block__title {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: #333;
  margin-top: 16px;
}
