.service-block-item {
  background-color: #f9f9f9;
  display: table;
}
.service-block__image {
  width: 40%;
  position: relative;
  min-height: 210px;
  background-color: white;
  display: table-cell;
  box-shadow: 0 11px 29px 0 rgba(0,0,0,0.08);
}
.service-block__image img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-block__content {
  width: 60%;
  padding: 25px 20px;
  display: table-cell;
}

.service-block__title {
  color: #2c323a;
  font-size: 20px;
}
.service-block__desc {
  font-size: 14px;
  color: #7b7b7b;
  line-height: 1.8;
  margin-top: 5px;
}