* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 100px 0;
}

/* Icon Block */
.list-icon-block {
  font-size: 0;
}
.icon-block {
  width: 25%;
  font-size: 16px;
  display: inline-block;
  padding: 25px 45px;
  vertical-align: top;
}
.icon-block__icon-wrap {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 110px;
  box-shadow: 0 11px 29px 0 rgba(0,0,0,0.08);
}
.icon-block__icon {
  font-size: 30px;
  color: #d0d0d2;
}
.icon-block__title {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  color: #333;
  margin-top: 16px;
}


/* Service Block */

.services-block {
  font-size: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
.services-block .col {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.service-block-item {
  background-color: #f9f9f9;
  display: table;
}
.service-block__image {
  width: 40%;
  position: relative;
  min-height: 210px;
  background-color: white;
  display: table-cell;
  box-shadow: 0 11px 29px 0 rgba(0,0,0,0.08);
}
.service-block__image img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-block__content {
  width: 60%;
  padding: 25px 20px;
  display: table-cell;
}

.service-block__title {
  color: #2c323a;
  font-size: 20px;
}
.service-block__desc {
  font-size: 14px;
  color: #7b7b7b;
  line-height: 1.8;
  margin-top: 5px;
}